@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

head {
    width: 100%;
    background-color: grey;
}

.logo {
    font-size: 1.8em;
    font-weight: bolder;
}
.login1{
    display: none;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 0;
    flex-wrap: wrap;
    box-shadow: -5px 10px 10px  rgba(93, 110, 93, 0.411); 
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
}
span{
    color: rgba(23, 87, 23, 0.712); ;
}
.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    font-size: 1.3em;
}
.nav-bar ul a:hover{
    color:rgba(23, 87, 23, 0.712); ;
    transition: 0.2s;
}
.nav-bar a {
    color: black;
}

.inicio {
    height: 80vh;
    overflow: hidden;

}
.texto-ini{
    position: absolute;
    width: 30%;
    align-items: center;
    color: white;
    bottom: 17rem;
    left: 5rem;
}
.texto-ini p{
    font-size: 1.7em;
}
.texto-ini button{
    padding: 0.6rem;
    font-size: 1em;
    font-weight: 700;
}
.product-body {
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.banner {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}
.titulo {
    padding: 2em 1em 0.5em;
    font-size: 2.5em;
    letter-spacing: 5px;
}

hr {
    width: 20%;
    border: none;
    height: 0.3vh;
    background-color: black;
}

.produto {
    width: 17em;
    padding: 1rem;
}

.img-ofert, .prod-ofert, video{
    width: 25em;
}
video{
    object-fit: cover;
    height: 52.5vh;
}
.prod-ofert{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
.prod-ofert:hover{
    cursor: pointer;
}

.produto:hover {
    cursor: pointer;
    transition: 0.3s;
}

.produtos {
    margin-bottom: 3em;
    display: flex;
    gap: 2em;
    justify-content: center;
    flex-wrap: wrap;
}

.img-prod {
    text-align: center;
    width: 13em;
    object-fit: cover;
    height: 30vh;
    overflow: hidden;
    margin-left: 0.2em;
}
.img-prod:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

button, .button{
    text-align: left;
    font-size: 1.2em;
    margin-top: 1rem;
    letter-spacing: 3px;
    padding: 0em 0 .1em;
    border: none;
    background-color: white;
    border-bottom: solid 3px black;
}
button:hover, .button:hover{
    background-color: black;
    color: white;
    font-weight: 700;
    transition: 0.3s;
    cursor: pointer;
}
footer {
    background-color: rgb(0, 27, 0);
    display: flex;
    align-items: center;
    color: white;
    padding: 1rem;
    gap: 2rem;
    justify-content: space-around;
}
footer a{
    color: white;
}

.ico{
    width: 2rem;
}





@media(min-width: 400px) and (max-width: 600px){
    .produto{
        max-width: 9rem;
    }
    .textos{
        display: flex;
        gap: 12rem;
    }
    .nav-bar{
        flex-direction: column;
        gap:1rem;
    }
    .login1{
        display: block;
    }
    .login{
        display: none;
    }
    .produtos{
        gap: 0.1rem;
    }
    .img-prod{
        width: 9rem;
    }
    .product-body {
        width: 90%;
        margin-left: 5%;
    }
    .banner{
        height: 90vh;
        object-fit: cover;
    }

    .texto-ini{
        width: 50%;
        align-items: center;
        left: 1.5rem;
        color: white;
    }
    .texto-ini p{
        font-size: 1.7em;
        text-align: left;
    }
    .texto-ini button{
        padding: 1rem;
        font-size: 0.8em;
        font-weight: 700;
    }
}